# 鉴权
CGYY_COOKIE=
CGYY_CG_AUTH=

# API
CGYY_BASE_URL=
CGYY_PREFIX=
CGYY_APP_KEY=

# AES-CBC key/iv
CGYY_AES_CBC_KEY=
CGYY_AES_CBC_IV=

# 用户与预约
CGYY_VENUE_SITE_ID=12
CGYY_PHONE=
CGYY_BUDDY_IDS=1234,5678
# [{"spaceId":"123","timeId":"456"},{"spaceId":"789","timeId":"101"}]
CGYY_RESERVATION_ORDER_JSON=
CGYY_RESERVATION_TYPE=-1
CGYY_DEFAULT_SEARCH_DATE=
CGYY_RESERVATION_START_TIME=
CGYY_RESERVATION_DURATION_HOURS=

# orderPin 随机范围
CGYY_ORDER_PIN_X_MIN=
CGYY_ORDER_PIN_X_MAX=
CGYY_ORDER_PIN_Y_MIN=
CGYY_ORDER_PIN_Y_MAX=

# 验证码延迟（秒）
CGYY_CAPTCHA_DELAY_MIN=
CGYY_CAPTCHA_DELAY_MAX=
